@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

@font-face {
  font-family: "Gotham";
  src: url("../assets/font/Gotham-Black.otf");
  /* font-weight: bold; */
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../assets/font/GothamLight.ttf");
  /* font-weight: light; */
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets/font/GothamMedium.ttf");
  /* font-weight: medium; */
  font-display: swap;
}

button {
  font-family: "Gotham";
}

canvas.deepar {
  border: 0px none;
  background-color: black;
  display: block;
  margin: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#loading-screen,
#permission-denied-screen,
#permission-denied-background {
  /* background-color: rgb(17 24 39 / 1); */
  background-image: url("./images/Final_bg.png");
  background-repeat: no-repeat, repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}

/* Carousel */

.carousel {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
}

.carousel.active {
  cursor: grabbing;
}

.carousel-slider {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  transition: left 0.3s ease;
  will-change: transform;
}

.carousel.active .inner {
  transition: none;
}

.carousel-center {
  width: 60px;
  height: 60px;
  border: 4px solid #f0ec18;
  border-radius: 13%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
}

.carousel-slider .slide {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  margin-left: 18px;
  margin-right: 18px;
}

.carousel-slider .slide.active {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.slide {
  overflow: hidden;
  box-shadow: 0 0 0 10px rgba(217, 217, 217, 0.34);
  border-radius: 10px;

  -webkit-touch-callout: none;
  /* Safari Touch */
  -webkit-user-select: none;
  /* Webkit */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Edge*/
  user-select: none;
  /* Future-proof*/
}

.slide.active {
  background-color: #010c4300;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-img {
  width: 70px;
  height: 70px;
}

/* Loading spinner */

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loading screen */

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

#loading-progress-bar {
  width: 0%;
  background: #F8B200;
  height: 100%;
  transition: width 5s ease-out;
}

/* Permission denied screen */

.permission-denied-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.permission-denied-text {
  width: 400px;
  max-width: 95%;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}

.permission-denied-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  display: inline-block;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: #eaeaea;
  }
}



.carousel {
  background: linear-gradient(89.64deg, rgba(223, 194, 58, 0.62) 0%, rgba(91, 153, 90, 0.62) 47%, rgba(188, 32, 38, 0.62) 100%);
}

.button-slider {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 105px;
  transition: left 0.3s ease;
  will-change: transform;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.button-slider .slides {
  /* border: 10px solid rgba(217, 217, 217, 0.34); */
  width: 185.13px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

/* .button-slider .slides.active{
  border: 10px solid rgb(255, 252, 252);
} */
.toolbar-photo {
  display: none;
}

#toolbar {
  z-index: 150;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#share-screen {
  background-image: url("./images/download-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  display: none;
  z-index: 200;
}

.photoframe {
  padding: 8px;
  position: relative;
  background-color: #eaeaea;
  width: 80vw;
  height: 110vw;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  filter: drop-shadow(8px 12px 18px black);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 22;
}

#share-image-container {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.Download {
  position: absolute;
  bottom: 4dvh;
  /* width: 100%; */
}


/* button{
  width: 80%;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(221, 191, 59, 1);;
  font-size: 18px;
  color:  rgba(72, 72, 72, 1);;
  text-transform: uppercase;
  
  border-radius: 50px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 200;
  bottom: 20px;
} */

/* button {
  cursor: pointer;
  padding: 10px 2.5rem;
  border: 0.82px solid #FFFFFF;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: rgba(221, 191, 59, 1);
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 50px;
  z-index: 200;
  color: #484848;
  width: max-content;
  margin: auto;
  max-width: 100%;
  margin-top: 1.5rem;
} */

.no-select {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  cursor: pointer;
  z-index: 300;
  background-color: black;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.photoframe .head {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 10vw;

}

.photoframe .heart-smilie {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 15vw;
}


.photoframe .glasses {
  position: absolute;
  right: -3%;
  bottom: -3%;
  width: 16vw;
}

.photoframe .qube {
  position: absolute;
  left: -7%;
  bottom: -6%;
  width: 36vw;
}

.photoframe .text_center {
  position: absolute;
  width: 80%;
  bottom: 12px;
}

.heart-top-right {
  position: absolute;
  top: 5%;
  right: 0;
  width: 28vw;
}

.heart-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
}

.heart-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vw;
}

.heart-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35vw;
}

.letsgosocial {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 10vw;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.9;
  z-index: 20;
  font-display: swap;
  -webkit-text-stroke: 0.2px transparent;
}